<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <script src="./js/aboutus.js"></script>
</head>
<body>
    <%- include('../partials/header'); %>

    <div class="container">
        <section class="person">
            <img src="/images/AB.png">
            <h2>Arjun Bhagat</h2>
            <p>Hey guys, I'm Arjun! Whether I'd like to admit it or not, I'm an avid gamer and have a special place in my heart for competative FPS. Some of my hobbies include making music, airsoft, and backpacks! GitHub: smeerj</p>
        </section>
        <section class="person">
            <img src="/images/JB.png">
            <h2>Joseph Behroz</h2>
            <p>Hello, I am Joseph! I am a third year Computer Science student at SFSU and hope to graduate by Spring of 2025. I hope to make a lot of money one day! GitHub: sperouz</p>
        </section>
        <section class="person">
            <img src="/images/SC.png">
            <h2>Shaurya Chawla</h2>
            <p>Hi I am Shaurya Chawla and this is my last year here in San Fransisco State  University. I love playing the drums! GitHub: shauryachawla15</p>
        </section>
        <section class="person">
            <img src="/images/TS.png">
            <h2>Thamizarasu Sankara</h2>
            <p>Hi! My name is Thamizarasu Sankara and I am a 3rd year Computer Science Student at SF State and my name is also the language I speak at home. I'm a multisport athlete for fun, and a pianist. GitHub: thamizarasu</p>
        </section>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>