<div class="footer">
    <div class="footer_link">
        <a href="/aboutus">About us</a>
    </div>
    <div class="footer_link">
        <a href="/contact">Contact us</a>
    </div>
    <div class="footer_link">
        <a href="/faq">FAQ</a>
    </div>
</div>